@media (max-width: 768px) {
    body {
        margin: 0;
        width: 767px;
    }
    .top {
        width: 767px;
    }

    .preview {
        width: 767px;
        height: 365px;
    }
    .top-top {
        margin-left: 32px;
        margin-right: 32px;
    }
    .rect {
        margin-top: 25px;
    }
    .bigtextimg {
        width: 70%;
        margin-left: 10px;
    }
    .rect-img {
        height: 70%;
    }
    .content {
        display: grid;
        margin-left: 0;
        width: 767px;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        margin-top: 18px;
        grid-template-areas:
            "im1 im2 im3"
            "im4 im4 im4"
            "im5 im5 im5"
            "im6 im7 im8"
            "im9 im10 im11"
            "all-btn all-btn all-btn"
        ;
    }
    .im1, .im2, .im3, .im4{
        background: #000;
    }
    .pic {
        width: 244px;
        display: block;
        opacity: 0.6;
    }
    .pic1 {
        width: 767px;
        display: block;
    }
    .im1rec {
        display: none;
    }
    .im2rec {
        display: none;
    }
    .im3rec {
        display: none;
    }
    .im4rec {
        display: none;
    }
    .im1text {
        position: absolute;
        top: 540px;
        left: 50px;
    }
    .im2text {
        position: absolute;
        top: 540px;
        left: 330px;
    }
    .im3text {
        position: absolute;
        top: 540px;
        left: 610px;
    }
    .im4text {
        position: absolute;
        top: 700px;
        left: 330px;
    }
    .manimg {
        width: 50vw;
        display: block;
    }
    .human {
        width: 100%;
        display: block;
    }
    .human-back {
        background: #F8F8F8;
        padding: 15px;
    }
    .all-btn {
        margin-bottom: 10px;
    }
    .browes-all {
        margin: 0;
    }
    .see {
        display: grid;
        background: black;
        width: 667px;
        justify-items: center;
        height: 600px;
        padding: 50px;

        grid-template-areas:
            "see1"
            "see-h-1"
            "see-text1"
            "see2"
            "see-h-2"
            "see-text2"
            "see3"
            "see-h-3"
            "see-text3"
        ;
    }
    .see-header {
        color: white;
    }
    .see-text {
        color: #FBFBFB;
    }
    .catalog-info {
        display: grid;
        gap: 333px;
        grid-template-areas:
            "cat-name cat-path"
        ;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 10px;
        background-color: #F8F3F4;
    }
    .catalog-name {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    }
    .catalog-path {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    .catalog-set {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }
    .sorting {
        color: #6F6E6E;
        display: flex;
    }
    filter {
        display: flex;
        margin-left: 10px;
    }
    .cat-path {
        display: flex;
        margin: 0 20px 0 0;
        height: 5px;
        align-items: baseline;
    }
    .im14 {
        display: none;
    }
    main {
        display: grid;
        gap: 16px;
        grid-template-areas:
            "im6 im7"
            "im8 im9"
            "im10 im11"
            "im12 im13"
            "pagin pagin"
        ;
        margin-bottom: 50px;
    }
    .contacts {
        background-image: url('static/bot_bd.png');
        background-color: rgba(255,255,255,0.6);
        background-blend-mode: lighten;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contacts-left {
        margin-left: 31%;
    }
    .contacts-right {
        margin-left: 27%;
    }
    .con-left-img {
        width: 300px;
    }
    .con-right-img {
        width: 350px;
    }
    .bot {
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 30px 32px 30px 32px;
    }
    .bot-left {
        color: #fff;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    .bot-right {
        margin-top: 8px;
    }
}

@media (max-width: 376px) {
    body {
        margin: 0;
        width: 374px;
    }
    .top {
        width: 374px;
    }
    .preview {
        width: 374px;
    }
    .man {
        display: none;
    }
    .user {
        display: none;
    }
    .basket {
        display: none;
    }
    .lines {
        margin-left: 100px;
    }
    .content {
        display: grid;
        margin-left: 0;
        gap: 18px;
        margin-top: 18px;
        width: 374px;
        grid-template-areas:
            "im1"
            "im2"
            "im3"
            "im4"
            "im5"
            "im6"
            "im7"
            "im8"
            "im9"
            "im10"
            "im11"
            "all-btn"
        ;
    }
    .pic {
        width: 374px;
        display: block;
    }
    .pic1 {
        width: 374px;
        display: block;
    }
    .man-text {
        margin-left: 20px;
    }
    .big-text {
        margin-left: 10px;
    }
    .bigtextimg {
        width: 300px;
    }
    .im1rec {
        display: none;
    }
    .im2rec {
        display: none;
    }
    .im3rec {
        display: none;
    }
    .im4rec {
        display: none;
    }
    .im1text {
        display: block;
        position: absolute;
        width: 40%;
        top: 580px;
        left: 125px;
        max-width: 300px;
    }
    .im2text {
        display: block;
        position: absolute;
        width: 40%;
        top: 870px;
        left: 125px;
        max-width: 300px;
    }
    .im3text {
        display: block;
        position: absolute;
        width: 40%;
        top: 1170px;
        left: 125px;
        max-width: 300px;
    }
    .im4text {
        display: block;
        position: absolute;
        width: 40%;
        top: 1340px;
        left: 125px;
        max-width: 300px;
    }
    .text {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }
    .little-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .human {
        width: 374px;
        display: block;
    }
    .human-back {
        background: #F8F8F8;
        padding: 15px;
    }
    .human-header {
        font-size: 26px;
    }
    .human-text {
        font-size: 28px;
        color: #5D5D5D;
    }
    .browes-all {
        font-size: 32px;
        margin: 7px;
    }
    .all-btn {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .see {
        display: grid;
        background: black;
        width: 374px;
        justify-items: center;
        height: 600px;
        padding: 0;

        grid-template-areas:
            "see1"
            "see-h-1"
            "see-text1"
            "see2"
            "see-h-2"
            "see-text2"
            "see3"
            "see-h-3"
            "see-text3"
        ;
    }
    .see-header {
        color: white;
    }
    .see-text {
        color: #FBFBFB;
        margin-left: 20px;
        margin-right: 20px;
    }
    .see1 {
        margin-top: auto;
    }
    main {
        display: grid;
        grid-template-areas:
            "im6"
            "im7"
            "im8"
            "im9"
            "im10"
            "im11"
            "im12"
            "im13"
            "im14"
            "pagin"
        ;
        margin-bottom: 50px;
    }
    .catalog-info {
        width: 374px;
        display: grid;
        gap: 90px;
        grid-template-columns: repeat(2, 130px);
        grid-template-areas:
            "cat-name cat-path"
        ;
        background-color: #F8F3F4;
    }
    .catalog-set {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        width: 374px;
    }
    .contacts {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contacts-left {
        margin-left: 13%;
    }
    .contacts-right {
        margin-left: 5%;
    }
    .con-left-img {
        width: 300px;
    }
    .con-right-img {
        width: 350px;
    }
    .bot {
        background-color: black;
        display: grid;
        grid-template-areas:
            "bot-right"
            "bot-left";
        padding: 0;
        justify-items: center;
        padding-left: 65px;
    }
    .bot-left {
        color: #fff;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        grid-area: bot-left;
    }
    .bot-right {
        margin-top: 8px;
        grid-area: bot-right;
    }
}

.top {
    background: black;
    display: flex;
    justify-content: space-between;
}

.top-top {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 18px;
}

.top-left {
    width: 105px;
}

.top-right {
    width: 140px;
}

.search {
    margin-top: 10px;
}

.lines {
    margin-top: 5px;
}

.preview {
    display: grid;
    background: #F1E4E6;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.man-text {
    display: flex;
    justify-content: space-between;
}

.big-text {
    align-self: center;
}

.im1 {
    grid-area: im1;
}
.im2 {
    grid-area: im2;
}
.im3 {
    grid-area: im3;
}
.im4 {
    grid-area: im4;
}
.im5 {
    grid-area: im5;
    justify-self: center;
}
.im6 {
    grid-area: im6;
}
.im7 {
    grid-area: im7;
}
.im8 {
    grid-area: im8;
}
.im9 {
    grid-area: im9;
}
.im10 {
    grid-area: im10;
}
.im11 {
    grid-area: im11;
}
.im12 {
    grid-area: im12;
}
.im13 {
    grid-area: im13;
}
.im14 {
    grid-area: im14;
}
.pagination {
    grid-area: pagin;
}
.all-btn {
    grid-area: all-btn;
    color: red;
    justify-self: center;
    background-color: #fff;
    border: solid 1px red;
    padding: 14px 38px 14px 38px;
}
.see1 {
    grid-area: see1;
}
.see2 {
    grid-area: see2;
}
.see3 {
    grid-area: see3;
}
.see-h-1 {
    grid-area: see-h-1;
}
.see-h-2 {
    grid-area: see-h-2;
}
.see-h-3 {
    grid-area: see-h-3;
}
.see-text1 {
    grid-area: see-text1;
}
.see-text2 {
    grid-area: see-text2;
}
.see-text3 {
    grid-area: see-text3;
}
.price {
    color: red;
}
.red-text {
    color: red;
}

@media (min-width: 768px) {
    body {
        margin: 0;
    }
    .top {
        padding-left: 231px;
        padding-right: 231px;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        gap: 30px;
        margin-top: 65px;
        margin-left: 17%;
        grid-template-areas:
            "im1 im2 im3"
            "im4 im4 im4"
            "im5 im5 im5"
            "im6 im7 im8"
            "im9 im10 im11"
            "all-btn all-btn all-btn"
        ;
    }
    .man-text {
        width: 405px;
    }
    .im1, .im2, .im3, .im4{
        background: #000;
    }
    .pic {
        display: block;
        opacity: 0.6;
    }
    .im1rec {
        display: none;
    }
    .im2rec {
        display: none;
    }
    .im3rec {
        display: none;
    }
    .im4rec {
        display: none;
    }
    .im1text {
        position: absolute;
        left: 23%;
        top: 1028px;
    }
    .im2text {
        position: absolute;
        left: 48%;
        top: 1028px;
    }
    .im3text {
        position: absolute;
        left: 71%;
        top: 1028px;
    }
    .im4text {
        position: absolute;
        left: 46%;
        top: 1278px;
    }
    .text {
        font-size: 30px;
    }
    .little-text {
        font-size: 14px;
    }
    .human-header {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-size: 13px;
        line-height: 16px;
    }
    .human-text {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    .human-back {
        background: #F8F8F8;
        max-width: 325px;
        margin-top: -5px;
        padding: 18px;
    }
    .browes-all {
        margin: 0;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }
    .see {
        padding-top: 100px;
        display: grid;
        background-color: black;
        height: 340px;
        margin-top: 95px;
        justify-content: center;
        gap: 28px 15px;
        text-align: center;
        grid-template-rows: repeat(3, 20px);
        grid-template-areas:
            "see1 see2 see3"
            "see-h-1 see-h-2 see-h-3"
            "see-text1 see-text2 see-text3"
        ;
    }
    .see-header {
        color: white;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        margin-top: 0;
    }
    .see-text {
        font-family: Lato, sans-serif;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        width: 350px;
    }
    .catalog-name {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;color: #F16D7F;
    }
    .catalog-path {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }
    .catalog-info {
        display: grid;
        gap: 600px;
        grid-template-areas:
            "cat-name cat-path"
        ;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 230px;
        background-color: #F8F3F4;
    }
    .catalog-set {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 250px;
        display: flex;
        justify-content: space-between;
        width: 650px;
    }
    sorting {
        color: #6F6E6E;
        display: flex;
    }
    filter {
        display: flex;
    }
    .cat-path {
        display: flex;
        margin: 0 20px 0 0;
        height: 5px;
        align-items: baseline;
    }
    main {
        display: grid;
        width: 1140px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        margin: 0 0 0 370px;
        grid-template-areas:
            "im6 im7 im8"
            "im9 im10 im11"
            "im12 im13 im14"
            ". pagin ."
        ;
    }
    .contacts {
        background-image: url('static/bot_bd.png');
        background-color: rgba(255,255,255,0.6);
        background-blend-mode: lighten;
        display: flex;
        justify-content: space-between;
        padding: 90px 230px 40px 230px;
    }
    .contacts-right {
        margin-top: 40px;
    }
    .bot {
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 30px 235px 30px 235px;
    }
    .bot-left {
        color: #fff;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    .bot-right {
        margin-top: 8px;
    }
}
.cat-name {
    grid-area: cat-name;
}
.cat-path {
    grid-area: cat-path;
}
.text {
    font-family:Lato, sans-serif sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
}

.little-text {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    color: #9F9F9F;
}